.common-backgroud {
    background-color: #DAF1FF;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.form-background {
    padding: 50px;
    background-color:white;
    border-radius: 60px;
    justify-content: center;
    display: flex;
    align-content: center;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
} 


.form-control{
    padding: 10px ;
    display: flex;
    align-items: center;
    justify-content: center;
}

.page-heading {
    margin-top: 0;
    margin-bottom: 0;
    color: #27a2ee;
    font:inherit;
    font-size: 30px;
}




.selectedTab {
    color: red;
}

.unSelectedTab {
    color: "black";
    font-size: "16px";
    
}

